<body>
    <non-top-header>
        <div class="non-top-container">
            <div class="non-top-header-logo">
                <%= link_to("Top", "/")%>
            </div>

            <ul class="non-top-header-menus">
                <li>
                    <%= link_to("My Works", "/posts")%>
                </li>
            </ul>
        </div>    
    </non-top-header>
    
    <div class="non-top-container">
        <div class="profile">

            <div class="profile-header">
                Profiles
            </div>
            
            <div class="about-top">
                <div class="mypic">
                    
                </div>
                <div class="info">
                    <ul class="biography">
                        <li>
                            Name: Yuwa Yokohama
                        </li>

                        <li>
                            Birthday: 1998/07/30
                        </li>

                        <li>
                            Nationality: Japanese
                        </li>

                        <li>
                            Hobby: Basketball, Readings, Gaming
                        </li>
                            
                        <li>
                            Language: Japanese, English, Indonesian, Spanish
                        </li>
                        
                        <li>
                            Skills: Python, Java, C, Javascript, Blockchain, <br>
                            Solidity, HTML/CSS, Git, Octave
                        </li>
                        
                        <li>
                            Interest: Enterepreneurship, Blockchain
                        </li>
                    </ul>
                
                </div>
                
            </div>
            
            <div class="education">
                <div class="education-header">
                    Education
                </div>
                
                <div class="history">
                    <ul class="schools">
                        <li>
                            2011: Started School at Hinominami Junior High school
                        </li>
                        
                        <li>
                            2014: Graduated from Hinominami Junior High school
                        </li>
                        
                        <li>
                            2014: Entered Binus School Simprug
                        </li>
                        <li>
                            2017: Graduated from Binus School Simprug (Jakarta, Indonesia)
                        </li>
                        <li>
                            2017: University of Toronto
                        </li>
                        
                        <li>
                            2018: University of Toronto Computer Science 
                        </li>
                    </ul>
                </div>
                
            </div>
            
            <div class ="achievements">
                <div class="achieve-header">
                    Achievements
                </div>
                
                <div class="awards">
                    <ul>
                        <li>
                            2019: Expected to finish Machine Learning course on Coursera
                        </li>

                        <li>
                            2017: TOEFL 101/120
                        </li>

                        <li>
                            2017: Top 3 student in Binus School Simprug
                        </li>
                    </ul>
                </div>
                
            </div>
            
        </div>
    
    </div>

</body>






