<header>
    <div class="container">
        <div class="header-logo">
            <%= link_to("My Works", "/posts")%>
        </div>

        <ul class="header-menus">
            <li>
                <%= link_to("About me", "/about")%>
            </li>
        </ul>
    </div>    
</header>

<div class=" main top-main">
    <div class="top-message">
        <h2>Yuwa Yokohama</h2>
        <p>University of Toronto Computer Science Specialist</p>
    </div>
</div>

