<header>
    <div class="container">
        <div class="header-logo">
            <a href="/">Yuwa Yokohama</a>
        </div>

        <ul class="header-menus">
            <li>
                <a href="/about">About Me</a>
            </li>
        </ul>
    </div>    
</header>

<div class=" main top-main">
    <div class="top-message">
        <h2>Yuwa Yokohama</h2>
        <p>University of Toronto Computer Science Specialist</p>
    </div>
</div>

<div class="future">

</div>

<div class="biography">


</div>

<div class="works">

</div>

